<h1>E-Store RubyRails</h1>

<ul>
    <li><%= link_to 'Books', books_path %></li>
    <li><%= link_to 'Games', games_path %></li>
    <li><%= link_to 'Companies', companies_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
    <li><%= link_to 'Platforms', platforms_path %></li>
</ul>